# ---------------------------------------------------------------------------- #
#    RESOURCES                                                                 #
# ---------------------------------------------------------------------------- #

  stop webadmin
  ensure mapmanager
  ensure chat
  ensure spawnmanager
  ensure sessionmanager
  ensure fivem
  ensure baseevents
  ensure hardcap
  ensure rconlog
  ensure scoreboard

# ---------------------------------------------------------------------------- #
#    THIRD-PARTY RESOURCES                                                     #
# ---------------------------------------------------------------------------- #

  # ...


# ---------------------------------------------------------------------------- #
#    TEMPESTRP RESOURCES                                                       #
# ---------------------------------------------------------------------------- #

  start tempest-common
